<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Prject</title>
</head>
<body>
    <form action="/output" method="post">
        <p><b>server Endpoint:</b><br>
            <input type="text" size="40" name="srv_name">
           </p>
           <p><b>login:</b><br>
            <input type="text" size="40" name="login">
           </p>
           <p><b>password:</b><br>
            <input type="text" size="40" name="passwd">
           </p>   
           <p><b>database name:</b><br>
            <input type="text" size="40" name="dbname">
           </p>   
        <p><input type="submit"></p>
       </form>
</body>
</html>
