<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Prject</title>
</head>
<body>
    <h4>
      Capture "idle in transactions" queries:
    </h4>
    <p>Detail information about active locks:</p>
     <table border="1">
      <tr>
        <tr> <td><b>{{ tt1[0] }}</b></td> <td><b>{{ tt1[1] }}</b> </td> <td><b>{{ tt1[2] }}</b> </td> <td><b>{{ tt1[3] }}</b> </td></b>
        {% for d1 in data1 %}
        <tr> <td>{{ d1[0] }} </td> <td>{{ d1[1] }} </td> <td>{{ d1[2] }} </td><td>{{ d1[3] }} </td>  </tr>
       {% endfor %}
      </table>
      <tr>
       <table border="1">
      <p>To drop lock just copy that query and insert in psql console:</p>
      <tr>
        {% for d in data2 %}
        <tr> <td>{{ d[0] }} </td> </tr>
       {% endfor %}  
    </table>
</body>
</html>