<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Prject</title>
</head>
<h1>
  <style scoped>
    .greenText {color:green;}
    </style>
    <p class="greenText">No any hightweght locks!</p></h1>  
<h4>
  <h1>
    <style scoped>
      .greenText {color:green;}
      </style>
      <p class="greenText">No any session found in status 'idle_in_transaction'!</p></h1>  
  <h4>  
<p>Amount and status all active sessions:</p>
<table border="1">
  <tr>
    {% for d4 in data5 %}
    <tr> <td>{{ d4[0] }}</td><td>{{ d4[1] }}</td></tr>
   {% endfor %}  
</table>
</html>
